body{
	background-color: #000000;
	color: white;
	font-family: sans-serif;
}

p{
	font-family: 'Fredoka', sans-serif;
}

.enline{
	padding-right: 80px;
	padding-left: 80px;
}

.header{
	text-align: center;
	width: 100%;
	height: 200px;     
    background: #B22AFF;
    color: #fff;
}

.container{
	padding-top: 30px;
}